@import 'Variable';

.preview{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 3em;
    display: none;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    z-index: 2;
    .image-preview-container{
        width: 35%;
        position: relative;
        .close-btn{
            filter: brightness(0) invert(1);
            position: absolute;
            right: 0;
            top: -2.5em;
            width: 20px;
            &:hover{
                filter: invert(72%) sepia(62%) saturate(5301%) hue-rotate(348deg) brightness(103%) contrast(101%);
                cursor: pointer;
            }
        }
        .previous-btn{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 4em;
            height: 4em;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            &:hover > img{
                filter: invert(72%) sepia(62%) saturate(5301%) hue-rotate(348deg) brightness(103%) contrast(101%);
                cursor: pointer;
            }
        }
        .next-btn{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 4em;
            height: 4em;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            &:hover > img{
                filter: invert(72%) sepia(62%) saturate(5301%) hue-rotate(348deg) brightness(103%) contrast(101%);
                cursor: pointer;
            }
        }
        .product-image-preview{
            width: 100%;
            border-radius: 15px;
        }
    }
    .product-thumbnail-preview{
        width: 35%;
        display: flex;
        margin-top: 2.5em;
        justify-content: space-between;
        padding: 0 3em;
        .thumbnail-preview{
            width: 20%;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
                opacity:0.7;
                transition: opacity 0.4s;
            }
        }
        .active {
            filter: brightness(1.2);
            border: 2px solid $primary;
        }
    }
}

@media (max-width:768px) {
    .preview{
        display: flex;
        position: static;
        height: auto;
        padding-top: 0;
        background-color: initial;
        .image-preview-container{
            width: 100%;
            height: 45vh;
            .close-btn{
                display: none;
            }
            .previous-btn{
                transform: translate(50%, -50%);
                width: 3em;
                height: 3em;
            }
            .product-image-preview{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 0;
            }
            .next-btn{
                transform: translate(-150%, -50%);
                width: 3em;
                height: 3em;
            }

        }
        .product-thumbnail-preview{
            display: none;
        }
    }
}