@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
//Colors

$primary: hsl(26, 100%, 55%);
$primary2: hsl(25, 100%, 94%);

$heading: hsl(220, 13%, 13%);
$paragraph: hsl(219, 9%, 45%);
$background1: hsl(220, 14%, 75%);
$background2: hsl(223, 64%, 98%);
$background: hsl(0, 0%, 100%);
$lightbox: hsl(0, 0%, 0%);

//Font

$primary-font: 'Kumbh Sans', sans-serif;